<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<main class="w-full">
  <div class="w-full">
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>